{% extends "layout.html" %}
{% load bootstrap3 %}
{% load thumbnail %}
{% block extra_head %}
<style>
    #bob_list .media {
        margin-bottom: 10px;
    }
    #bob_list .media-object {
        width: 200px;
        height: 200px;
    }
    div.media-body{
        max-height: 200px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row" id="bob_list">
       {% for bob in bob_list %}
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <a href="/bobshow/{{ bob.id }}/">
                            {% if bob.image %}
                                {% thumbnail bob.image "200x200" crop='center' quality=80 as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height}}">
                                {% endthumbnail %}
                            {% else %}
                                {% load static %}
                                <img src="{% static 'img_default.jpg' %}" width="200px" height="200px">
                            {% endif %}
                        </a>
                    </div>
                    <div class="media-body">
                    {% if forloop.counter %}
                        <h3 style="background-color:#FFFF48; margin-top:0px">{{ forloop.counter }}위 평점: {{ bob.score }}<span style="font-size:15px">(총 {{ bob.comment_set.count|add:"1"}}건)</span></h3>
                        <h4 class="media-heading">{{ bob.place.name }}-{{ bob.name }}</h4>
                        <h6>{{ bob.content|linebreaks|truncatechars:55 }}</h6>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>

{% endblock %}
