{% extends "layout.html" %}
{% load staticfiles %}
{% block extra_head %}
<style>
    #addComment{
        width:50%;
    }
    .icon{
        color: black;
        font-size:10px;
    }
    .date{
        font-size: 12px;
    }
    .form-group{
        width:100%;
        margin-bottom: 10px;
    }
    .carousel-inner>.item>img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        height:300px;
    }
    #carousel-example-generic{
        height:300px;
    }
</style>
<link href="{% static "bootstrap-star-rating/css/star-rating.min.css" %}" media="all" rel="stylesheet" type="text/css">
{% endblock %}


{% block extra_script %}
<script src="{% static "bootstrap-star-rating/js/star-rating.min.js" %}" type="text/javascript"></script>
<script>
    $(function(){
        var tex = $("textarea:first");
        tex.className = "form-control";
        tex.attr("rows", "3");
        tex.css("width", "100%");
        $("form div").contents().filter(function(){ return this.nodeType != 1; }).remove();
    });
    $(function(){
        $("#comment_form").find("input[name=star]").remove()
        $("#star_rate").rating();
        var len = {{ bob.comment_set.count}};
        for(var i=0;i<len;i++){
            var k = parseInt($(".stars")[i].innerHTML);
            var str = '<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>'
            $(".stars")[i].innerHTML=str.repeat(k);
        }
    })
    $(function(){
        $("#comment_form").submit(function() {
            var url = $(this).attr("action");
            var content_value = $(this).find("textarea[name=content]").val();
            var star = $("#star_rate")[0].value;
            if(content_value ==""){
                $.toaster({
                        title: 'fail',
                        priority: 'danger',
                        message: '내용을 입력해 주세요'
                    });
                return false;
            }
            $.ajax({
                url: url,
                method: "POST",
                data: {
                    content: content_value,
                    star: star,
                }
            }).fail(function() {
                $.toaster({
                        title: 'fail',
                        priority: 'danger',
                        message: '다시 시도해 주세요'
                });
            }).done(function(html) {
                $("#comment_list").prepend(html);
                $("#tofade").hide();
                $.toaster({
                        title: 'success',
                        priority: 'success',
                        message: '새 댓글이 등록되었습니다'
                });
                $("textarea")[0].value="";
            });
            return false;
        });
        $(document).on('click', '#delete_comment', function(){
            if ( confirm("Are you sure?") ) {
                var url = $(this).attr("href");
                var comment_id = $(this).data("comment-id");
                $.ajax({
                    url: url,
                    method: "POST"
                }).fail(function() {
                    $.toaster({
                        title: 'fail',
                        priority: 'danger',
                        message: '다시 시도해 주세요'
                    });
                }).done(function() {
                    $("#" + comment_id).remove();
                    $.toaster({
                        title: 'success',
                        priority: 'success',
                        message: '댓글을 삭제하였습니다'
                    });
                });
            }
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size:20px;">
            <span>{{ bob.name|safe }}</span>
            <a class="btn btn-default" style="float:right" href="{% url 'bobshow:photo_new' bob.pk %}">사진 추가</a>
        </div>
         <div class="panel-heading" style="padding:5px 10px 5px 10px">
            <span>작성자: {{ bob.author}}&nbsp;</span>
            {% if bob.score == -1 %}
            <span>평점 없음</span>
            {% else %}
            <span>평점:&nbsp;{{ bob.score }}/5.0(총 {{ bob.comment_set.count|add:"1"}}건)</span>
            {% endif %}
            <span>식당: {{ bob.place }}</span>
        </div>
        {% include "bobshow/gallery.html" %}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">평가하기</div>
        <form id="comment_form" class = "form-inline" action="{% url "bobshow:comment_new" bob.pk %}" method="POST">
            <div class="form-group text-center">
            {% csrf_token %}
            <input id="star_rate" class="rating" data-min="0" data-max="5" data-step="1">
                {{ comment_form }}

                <input id="addComment" type="submit" value="submit" class="btn btn-default"/>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
          <table class="table" id="comment_list">
            <thead>
              <tr>
                <th>#</th>
                <th>별점</th>
                <th>내용</th>
                <th>날짜</th>
              </tr>
            </thead>
            <tbody>
                {% for comment  in bob.comment_set.all %}
                    {% include "bobshow/comment_row.html" %}
                {% empty %}
                    <tr id="tofade"><td>등록된 댓글이 없습니다.</td></tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    </div>
    <hr/>
</div>
{% endblock %}