{% extends "layout.html" %}
{% load bootstrap3 %}
{% load thumbnail %}
{% block extra_head %}
<style>
.thumbnail .caption div {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.thumbnail .caption {
    height: 50px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel-heading">
        {{ today }}의 메뉴
        </div>
        <div class="col-sm-12">
        {% for bob in bob_list %}
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <a href="{% url "bobshow:detail" bob.pk %}">
                        {% if bob.image_set.first %}
                            <img src="{{ bob.image_set.first.image.url }}" height="300" />
                        {% else %}
                            {% load static %}
                            <img src="{% static 'img_default.jpg' %}">
                        {% endif %}
                        <div class="caption">
                            <div><strong>{{ bob.name }}</strong><span>-{{bob.place}}</span></div>
                            {% if bob.score == -1 %}
                            <span>평점 없음</span>
                            {% else %}
                            <span>평점:&nbsp;{{ bob.score }}/5.0(총 {{ bob.comment_set.count }}건)</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        {% empty %}
        <div class="alert alert-warning">검색 결과가 없습니다.</div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
