{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SNU Bob</title>
  <link rel="icon" href="{% static 'icon.jpg' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" />
  <link href="{% static "bootstrap-star-rating/css/star-rating.min.css" %}" media="all" rel="stylesheet" type="text/css" />
  <link type="text/css" href="{% static 'layout.css' %}" rel="stylesheet">
  <style>
    #footer {
        line-height: 20px;
        padding: 30px 20px;
        background-color:#F8F8F8;
    }
    *{
        font-family: "나눔고딕";
    }
    html, body{
      height:100%;
    }
  </style>
  <script src="{% static "jquery-1.11.3.min.js" %}"></script>
  <script src="{% static "bootstrap-star-rating/js/star-rating.min.js" %}" type="text/javascript"></script>
  <script src="{% static "bootstrap-3.3.5-dist/js/bootstrap.min.js" %}"></script>

  <script src="{% static "jquery.toaster.js" %}"></script>
  <script src="{% static "jquery.csrf.js" %}"></script>
  {% block extra_head %}
  {% endblock %}
</head>

<body role="document">

<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#FFFF24">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "index" %}" id="dd">SNUbob</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url "index" %}"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;오늘메뉴</a></li>
        <li><a href="{% url "bobshow:search" %}"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>&nbsp;검색</a></li>
        <li><a href="{% url "bobshow:billboard" %}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;순위</a></li>
        <li><a href="{% url "bobshow:new" %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;식사 평가</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
      <div class="col-sm-12">
          {% if messages %}
              {% for message in messages %}
              <script>
                  $.toaster({
                      title: '{{ message.tags }}',
                      priority: '{{ message.tags }}',
                      message: '{{ message }}'
                  });
              </script>
              {% endfor %}
          {% endif %}
      </div>
  </div>
</div>

{% block content %}
{% endblock %}
<hr>


<footer class="footer">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 text-muted">
            파이썬 웹프레임워크인 <a href="http://djangoproject.com" target="_blank">Django</a> 로 만들었습니다.<br/>
        </div>
        <div class="col-sm-6 text-right">
            <div>darkdakku@gmail.com</div>
        </div>
    </div>
  </div>
</footer>
</body>
</html>
