{% extends "layout.html" %}
{% load bootstrap3 %}

{% block extra_head %}
<style>
    #bob_list .media {
        margin-bottom: 10px;
    }
    #bob_list .media-object {
        width: 200px;
        height: 200px;
    }
    div.media-body{
        max-height: 200px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" id="bob_list">
       {% for bob in bob_list %}
            <div class="col-sm-12">
                <div class="media">
                    <div class="media-left">
                        <a href="/bobshow/{{ bob.id }}/">
                        {% if bob.image_set.first %}
                            <img src="{{ bob.image_set.first.image.url }}" height="300" />
                        {% else %}
                            {% load static %}
                            <img src="{% static 'img_default.jpg' %}">
                        {% endif %}
                        </a>
                    </div>
                    <div class="media-body">
                    {% if forloop.counter %}
                        <h3 style="background-color:#FFFF48; margin-top:0px">{{ forloop.counter }}위 평점: {{ bob.score }}<span style="font-size:15px">(총 {{ bob.comment_set.count }}건)</span></h3>
                        <h4 class="media-heading">{{ bob.place.name }}-{{ bob.name }}</h4>
                        <h6>
                        {% for comment in bob.comment_set.all %}
                        {{ comment.content|linebreaks }}
                        {% endfor %}
                        </h6>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
